* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.details{
  color: white;
  font-size: 1rem; 
  
  text-align: center; 

  
}

.title{
  width: 100vw;
  padding-top: 2rem;
  position: absolute;

}

@media (min-width: 600px) {
  .details{
    font-size: 2rem;
    font-weight: bolder;

  }

  .title{
    margin-top: 1rem;
  }
}
/* 
.cake-wrapper {
  
	perspective: 1000px;
}

.cake {
	transform: rotateY(360deg);
	animation: rotateAnimation 8s linear infinite;
  color: rgb(116, 0, 239);
	
}
span{
  color: rgb(116, 0, 239);
  
}
@keyframes rotateAnimation {
	from {
		transform: rotateY(360deg);
	}
	to {
		transform: rotateY(0deg);
	}
} */
