* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.cake-wrapper {
	perspective: 1000px;
}

.cake {
	transform: rotateY(360deg);
	animation: rotateAnimation 8s linear infinite;
}

@keyframes rotateAnimation {
	from {
		transform: rotateY(360deg);
	}
	to {
		transform: rotateY(0deg);
	}
}